on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
    
jobs:
  reusable_workflow_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows
        with:
          username: ${{ inputs.username }}
      - name: print
        run: echo username
